In [54]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold

In [55]:
# Show the dataframe
df_heart = pd.read_csv('Data/2_heart.csv')
print(df_heart)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [56]:
df_heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [57]:
# Preprocessing

# Missing Value
# --Check is there any a missing value in dataframe
print(df_heart.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [58]:
# Outlier
# --Check shape of data
df_heart.shape

(1025, 14)

In [59]:
# --function to detect outliers using z_score
outliers = []
def detect_outlier(data_1):
    threshold = 3
    mean_1 = np.mean(data_1)
    std_1 = np.std(data_1)

    for y in data_1:
        z_score = (y - mean_1)/std_1
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

In [60]:
# -- Check Outliers--'age'
outliers_age = df_heart['age']
outlier_datapoints = detect_outlier(outliers_age)
print(outlier_datapoints)

[]

In [61]:
outliers.clear()

In [62]:
# -- Check Outliers--'sex'
outliers_sex = df_heart['sex']
outlier_datapoints = detect_outlier(outliers_sex)
print(outlier_datapoints)

[]

In [63]:
outliers.clear()

In [64]:
# -- Check Outliers--'cp'
outliers_cp = df_heart['cp']
outlier_datapoints = detect_outlier(outliers_cp)
print(outlier_datapoints)

[]

In [65]:
outliers.clear()

In [66]:
# -- Check Outliers--'trestbps'
outliers_trestbps = df_heart['trestbps']
outlier_datapoints = detect_outlier(outliers_trestbps)
print(outlier_datapoints)

[192, 200, 192, 200, 192, 200, 200]

In [67]:
outliers.clear()

In [68]:
# -- Check Outliers--'chol'
outliers_chol = df_heart['chol']
outlier_datapoints = detect_outlier(outliers_chol)
print(outlier_datapoints)

[417, 564, 409, 564, 407, 564, 407, 409, 417, 407, 407, 417, 409]

In [69]:
outliers.clear()

In [70]:
# -- Check Outliers--'fbs'
outliers_fbs = df_heart['fbs']
outlier_datapoints = detect_outlier(outliers_fbs)
print(outlier_datapoints)

[]

In [71]:
outliers.clear()

In [72]:
# -- Check Outliers--'restecg'
outliers_restecg = df_heart['restecg']
outlier_datapoints = detect_outlier(outliers_restecg)
print(outlier_datapoints)

[]

In [73]:
outliers.clear()

In [74]:
# -- Check Outliers--'thalach'
outliers_thalach = df_heart['thalach']
outlier_datapoints = detect_outlier(outliers_thalach)
print(outlier_datapoints)

[71, 71, 71, 71]

In [75]:
outliers.clear()

In [76]:
# -- Check Outliers--'exang'
outliers_exang = df_heart['exang']
outlier_datapoints = detect_outlier(outliers_exang)
print(outlier_datapoints)

[]

In [77]:
outliers.clear()

In [78]:
# -- Check Outliers--'oldpeak'
outliers_oldpeak = df_heart['oldpeak']
outlier_datapoints = detect_outlier(outliers_oldpeak)
print(outlier_datapoints)

[5.6, 5.6, 6.2, 6.2, 6.2, 5.6, 5.6]

In [79]:
outliers.clear()

In [80]:
# -- Check Outliers--'slope'
outliers_slope = df_heart['slope']
outlier_datapoints = detect_outlier(outliers_slope)
print(outlier_datapoints)

[]

In [81]:
outliers.clear()

In [82]:
# -- Check Outliers--'ca'
outliers_ca = df_heart['ca']
outlier_datapoints = detect_outlier(outliers_ca)
print(outlier_datapoints)

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [83]:
outliers.clear()

In [84]:
# -- Check Outliers--'thal'
outliers_thal = df_heart['thal']
outlier_datapoints = detect_outlier(outliers_thal)
print(outlier_datapoints)

[0, 0, 0, 0, 0, 0, 0]

In [85]:
outliers.clear()

In [86]:
# -- Check Outliers--'target'
outliers_target = df_heart['target']
outlier_datapoints = detect_outlier(outliers_target)
print(outlier_datapoints)

[]

In [87]:
outliers.clear()

In [88]:
# Now we know the data with have an outliers are
# 1.'trestbps'
# 2. 'chol'
# 3. 'thalach'
# 4. 'oldpeak'
# 5. 'ca'
# 6. 'thal'

In [89]:
from scipy import stats
z_scores = stats.zscore(df_heart)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
df_heart = df_heart[filtered_entries]

In [90]:
df_heart.shape

(969, 14)

In [91]:
# Normalization range 0 to 1
def NormalizeData(data):
    return (data - np.min(data)) / (np.max(data) - np.min(data))

scaled_df_heart = df_heart
scaled_df_heart['age'] = NormalizeData(df_heart['age'])
scaled_df_heart['sex'] = NormalizeData(df_heart['sex'])
scaled_df_heart['cp'] = NormalizeData(df_heart['cp'])
scaled_df_heart['trestbps'] = NormalizeData(df_heart['target'])
scaled_df_heart['chol'] = NormalizeData(df_heart['chol'])
scaled_df_heart['fbs']= NormalizeData(df_heart['fbs'])
scaled_df_heart['restecg'] = NormalizeData(df_heart['restecg'])
scaled_df_heart['thalach'] = NormalizeData(df_heart['thalach'])
scaled_df_heart['exang'] = NormalizeData(df_heart['exang'])
scaled_df_heart['oldpeak'] = NormalizeData(df_heart['oldpeak'])
scaled_df_heart['slope'] = NormalizeData(df_heart['slope'])
scaled_df_heart['ca'] = NormalizeData(df_heart['ca'])
scaled_df_heart['thal'] = NormalizeData(df_heart['thal'])
scaled_df_heart['target'] = NormalizeData(df_heart['target'])
scaled_df_heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.479167,1.0,0.0,0.0,0.320896,0.0,0.5,0.701754,0.0,0.227273,1.0,0.666667,1.0,0.0
1,0.500000,1.0,0.0,0.0,0.287313,1.0,0.0,0.587719,1.0,0.704545,0.0,0.000000,1.0,0.0
2,0.854167,1.0,0.0,0.0,0.179104,0.0,0.5,0.324561,1.0,0.590909,0.0,0.000000,1.0,0.0
3,0.666667,1.0,0.0,0.0,0.287313,0.0,0.5,0.640351,0.0,0.000000,1.0,0.333333,1.0,0.0
4,0.687500,0.0,0.0,0.0,0.626866,1.0,0.5,0.157895,0.0,0.431818,0.5,1.000000,0.5,0.0

In [94]:
# Split data usinng Kfold k = 10
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html 
kf = KFold(n_splits=10)
print(kf)

KFold(n_splits=10, random_state=None, shuffle=False)